@font-face {
    font-family: 'Prospectus Pro L';
    src: url('../fonts/ProspectusProL-Black.woff2') format('woff2'),
        url('../fonts/ProspectusProL-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prospectus Pro L';
    src: url('../fonts/ProspectusProL-Bold.woff2') format('woff2'),
        url('../fonts/ProspectusProL-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Prospectus Pro L';
    src: url('../fonts/ProspectusProL-SemiBold.woff2') format('woff2'),
        url('../fonts/ProspectusProL-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Morandi';
    src: url('../fonts/Morandi.woff2') format('woff2'),
        url('../fonts/Morandi.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}